/* Normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden], template {
    display: none
}
a {
    background-color: transparent
}
a:active, a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b, strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type="button"],
/* 1 */

input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td, th {
    padding: 0
}

/*
    Brody's CSS
*/
*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'Open Sans';
}
main {
    max-width: 480px;
    margin: auto;
}
section {
    padding: 0.25em 1.5em 1.5em;
}
section::after {
    content: "";
    display: table;
    clear: both;
}
section.s-existing-user {
    background: #3498db;
}
section.s-new-user {
    background: #2ecc71;
}
section.s-reset {
    background: #e67e22;
}
section.s-report {
    background: #95a5a6;
}
section.hidden {
    display: none;
}
h2 {
    margin-bottom: 0.25em;
}
label {
    display: block;
    margin-bottom: 0.5em;
}
input, select {
    width: calc(100% - 160px);
    line-height: 1.5em;
    height: 2em;
    padding: 0.25em;
    border: 0;
    border-radius: 0.25em 0 0 0.25em;
    -webkit-appearance: none;
    cursor: pointer;
}
input, select, button {
    outline-width: 2px;
    outline-offset: -2px;
    outline-style: none;
    outline-color: #000;
}
input:focus, select:focus, button:focus {
    outline-style: solid;
}
input:required:invalid {
    color: #e74c3c;
    outline-color: #e74c3c;
}
button {
    font-size: 1em;
    width: 160px;
    float: right;
    margin: auto;
    border: 0;
    line-height: 1.5em;
    padding: 0.25em;
    font-weight: 600;
    color: #fff;
    border-radius: 0 0.25em 0.25em 0;
    cursor: pointer;
}
button[disabled] {
    opacity: 0.5;
}
#continue {
    background: #2980b9;
    border-radius: 0 0.25em 0 0;
}
#create {
    background: #27ae60;
}
#reset {
    background: #d35400;
    border-radius: 0.25em;
}
#report {
    background: #1E5D86;
    border-radius: 0 0 0.25em 0.25em;
}

/*
    Artpita's CSS
*/
#backLogin {
    background: #CCCC00;
    border-radius: 0.25em;
}
